<div class="row">
  
<%= form_for(@bento) do |f| %>

    <p>
    <%= f.label :name%>
    <%= f.text_field :name%>
    </p>

    <%= f.hidden_field :user_id%>

    <p>
        <label for="">Meal Type</label>
        <%= f.select :bento_type, options_for_select(["Lunch", "Dinner"], :selected => @bento[:bento_type]), include_blank: true %>
    </p>

    <div class="column">
            <h3> Entrees ($7 each) </h3>
        <p>
            <%= f.fields_for :bento_menu_items, @bento.bento_menu_items do |bento_menu_item| %>
                <%if bento_menu_item.object.menu_item.item_type == 'Entree' %>
                    <%= bento_menu_item.hidden_field :menu_item_id %>
                    <%= bento_menu_item.label bento_menu_item.object.menu_item.name %>
                    <%= bento_menu_item.label :quantity %><br>
                    <%= bento_menu_item.text_field :quantity %><br>
                <% end %>
            <% end %>      
        </p>  
        </div>
    <div class="column">
        <h3> Sides ($ 3 each) </h3>
        <%= f.fields_for :bento_menu_items, @bento.bento_menu_items do |bento_menu_item| %>
                <%if bento_menu_item.object.menu_item.item_type == 'Side' %>
                    <%= bento_menu_item.hidden_field :menu_item_id %>
                    <%= bento_menu_item.label bento_menu_item.object.menu_item.name %>
                    <%= bento_menu_item.label :quantity %><br>
                    <%= bento_menu_item.text_field :quantity %><br>
                <% end %>
            <% end %>
    </div>
    <div class="column">
    <h3>Snacks & Drinks ($2 and $1)</h3>
        <%= f.fields_for :bento_menu_items, @bento.bento_menu_items do |bento_menu_item| %>
                <% if bento_menu_item.object.menu_item.item_type == 'Snack' || bento_menu_item.object.menu_item.item_type == 'Drink' %>
                    <%= bento_menu_item.hidden_field :menu_item_id %>
                    <%= bento_menu_item.label bento_menu_item.object.menu_item.name %>
                    <%= bento_menu_item.label :quantity %><br>
                    <%= bento_menu_item.text_field :quantity %><br>
                <% end %>
            <% end %>
    <br>
    <%= f.submit %>
    
    </div>
<% end %>
</div>