<h2>Here are the Bento Boxes: </h2>

<% @bentos.each do |bento| %>
    <%= link_to "#{bento.name}", bentobox_path(bento) %> Type: <%= bento.bento_type %>

    <div>Menu Items:</div>
        <% bento.menu_items.each do |menu_item| %>
            <li>Name: <%= menu_item.name %></li>
            <li>Price: <%= menu_item.price %></li>
            <li>Item Type: <%= menu_item.item_type %></li>
    <% end %> 
    <br>      
<% end %>