<li>Name: <%= @bento.name %></li>
<li>Bento Type: <%= @bento.bento_type %></li>
<li>Total Price: <%= @bento.total_price %></li>

<%= render partial: 'menu_items/form', locals: {menu_item: @bento.menu_item} %>
<%= link_to "Order", new_order_path %> 

