<% if flash[:notice] %>
<p> <%= flash[:notice] %>
</p>
<% end%>
<li>Name: <%= @bento.name %></li>
<li>Bento Type: <%= @bento.bento_type %></li>
<li>Total Price: <%= @bento.total_price %></li>

<%= render partial: 'menu_items/index', locals: {menu_items: @bento.menu_items} %>
<%= link_to "Edit this bento box", edit_bentobox_path %> <br>
<%= button_to "Delete this bento box", bentobox_path(@bento), method: :delete %>

<br>
<br>

<%= button_to "Add this Bento to your Order", add_bento_path, {params: {bento_id: params[:id]}} %> 
