<%= form_for(@menu_item) do |f| %>
    <p>
    <%= f.label :name%>
    <%= f.text_field :name%>
    </p>

    <p>
    <%= f.label :price%>
    <%= f.text_field :price%>
    </p>

    <p>
        <%= f.select :item_type, options_for_select(%w(Snack Side Entree Drink), :selected => @menu_item[:item_type]) %>
    </p>

    <%= f.submit %>
<% end %>

