<% if flash[:notice] %>
<p> <%= flash[:notice] %>
</p>
<% end%>
Name: <%= @menu_item.name %>
    <li>Price: <%= @menu_item.price %></li>
    <li>Type: <%= @menu_item.item_type %></li>
    <br>

    <%= button_to "Delete this menu item", menu_item_path(@menu_item), method: :delete %>
