<% if session[:omniauth_data] %>
  <p>Welcome <%= session[:omniauth_data]['info']['nickname'] %> </p>
  <p><%= link_to "Menu", bentoboxes_path %></p>

<% elsif session[:user_id] %>
  <p>Welcome <%= @user.name %> </p>
  <p><%= link_to "Menu", bentoboxes_path %></p>

<% else %>
  <p><%= link_to 'Sign Up', signin_path%></p>
  <p><%= link_to 'Signing in with GitHub', '/auth/github'%></p>
<% end %>

<%= link_to "Log Out", logout_path, method: 'post' if session[:user_id] || session[:omniauth_data] %>