<p><strong> I got no cart and it's breaking my heart But I've found a driver and that's a start</strong></p>
<% if logged_in? %>
  <p>Welcome <%= current_user.name %> </p>
  <p><%= link_to "Menu", bentoboxes_path %></p>

<% else %>
  <p><%= link_to 'Sign Up', signin_path%></p>
  <p><%= link_to 'Sign In with GitHub', '/auth/github'%></p>
  <p><%= link_to 'Login', login_path%></p>

<% end %>

<p> Adventure Bento is a choose your own adventure bento box cart. You can select menu items and add 
them to your bento box. Or you can choose from a list of already created bento boxes. Customize to your 
heart's content. Add as many bentos as you like to your order. You can only place one order at a time, and you can see 
what you've ordered before. Questions? Ask my sister. This bento box cart is her idea.
</p>

<%= link_to "Log Out", logout_path, method: 'post' if logged_in? %>
<br>
<%= image_tag image_url('bentobox.jpeg'), width: "350", height: "250"%>

