
<% if session[:omniauth_data] %>
  <p>Welcome <%= session[:omniauth_data]['info']['nickname'] %> </p>

<% elsif session[:user_id] %>
  <p>Welcome <%= session[:user_id].name %> </p>

 
<% else %>
  <p>Try <%= link_to 'Sign Up', signin_path%>.</p>
  <p>Try <%= link_to 'Signing in with GitHub ', '/auth/github'%>.</p>

<% end %>


<%= link_to "Log Out", logout_path, method: 'post' if session[:user_id] || session[:omniauth_data] %>
