<%= form_for(@order) do |f| %>
    

    <p>
        <%= f.collection_check_boxes :bentobox_ids, @bentos, :id, :name do |check_box| %>
            <%= check_box.label(class: "check_box") do %>
            <%= check_box.check_box(class: "check_box") %>
            <%= check_box.object.name %></br>
            <% end %>
        <% end %>
    </p>

    <p>
        <%= f.select :pickup_deliver, options_for_select(["Pickup", "Delivery"], :selected => @order[:pickup_deliver]), include_blank: true %>    
    </p>

    <%= f.submit "Review Order"%>
<% end %>