<% if flash[:notice] %>
<p> <%= flash[:notice] %>
</p>
<% end%>

<p><%="#{@user.name}, here is your order: "%></p>
<li>Total Price: <%= @order.order_price %></li>
<li><%= @order.pickup_deliver %></li>

<%= render partial: 'bentoboxes/index', locals: {bentos: @order.bentoboxes} %>

<%= link_to "Edit your order", edit_order_path %> <br>
<br>
<%= link_to "Delete Your Order", order_path(@order), method: :delete %> <br>
<br>
<%= button_to "Place Your Order", place_order_path, method: :post %>



