<p><%="#{@user.name}, here is your order: "%></p>
<li>Total Price: <%= @order.order_price %></li>
<%= render partial: 'bentoboxes/index', locals: {bentos: @order.bentoboxes} %>

<%= link_to "Edit your order", edit_order_path %> <br>
<%= button_to "Delete Your Order", order_path(@order), method: :delete %>


